*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/androidApp/build
/shared/build
/harmonyApp/entry/build
/harmonyApp/oh_modules
/harmonyApp/.preview
/node_modules
*.hap
*.apk
.git/askpass.sh
